*{
    box-sizing: border-box;
}
body{
    background-color: tomato;
}
#container{
    margin:auto;
    text-align: center;
    color:white;
    height: auto;
    width: 100%;
    top:30px;
    position: relative;
}
.gif_image img{
    width: 400px;
}